@using ExamBusiness.ViewModels;

@model RegisterUserVM

<div class="col-sm-12 col-xl-6" style="margin-top:100px">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Register</h6>
        <form method="post" >
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" type="text" class="form-control">
                <span asp-validation-for="Name" style="color:red"></span>
                
            </div>
            <div class="mb-3">
                <label asp-for="Surname" class="form-label">Surname</label>
                <input asp-for="Surname" type="text" class="form-control">
                <span asp-validation-for="Surname" style="color:red"></span>

            </div>
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" type="text" class="form-control">
                <span asp-validation-for="Username" style="color:red"></span>

            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control">
                <span asp-validation-for="Email" style="color:red"></span>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control">
                    <span asp-validation-for="Password" style="color:red"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="RepeatPassword" class="form-label">Repeat Password</label>
                    <input asp-for="RepeatPassword" type="password" class="form-control">
                    <span asp-validation-for="RepeatPassword" style="color:red"></span>

                </div>
                <div class="mb-3" asp-validation-summary="All">
                   


                </div>

            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
